h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
body,p,span{
    font-family: 'Roboto', sans-serif;
}

/* CSS Default */
    .container-fluid{
        width: 1470px;
    }

    body .btn-primary {
        background-color: #e73c3e !important;
        border-color: #e73c3e;
        padding: 12px 43px;
        font-size: 16px;
        border-radius: 7px;
        position: relative;
        z-index: 1;
        display: inline-block;
    }
    body .btn-primary:hover{
        border-color: #222;
    }
    body .btn-primary::after{
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        height: 100%;
        background-color: #222;
        border-color: #222;
        z-index: -1;
        transition: .5s;
    }
    body .btn-primary:hover::after{
        width: 100%;
    }

    .similar-part{}
    .similar-part h6 {
        font-size: 16px;
        font-weight: 400;
        color: #e73c3e;
    }
    .similar-part h3 {
        font-size: 38px;
        font-weight: 400;
        color: #111;
        padding-top: 6px;
    }
    .similar-part p {
        font-size: 17px;
        padding: 10px 0;
    }
    .bg-gray{
        background: #f9fafb;
    }

/* Menubar Section */
    .header-section{
        background: #fff;
        border-bottom: 1px solid #ddd;
    }
    .header-menu {
        list-style: none;
        margin-right: 15px;
    }
    .header-menu li {
        position: relative;
    }
    .header-menu li a {
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        font-size: 17px;
        color: #000;
        font-weight: 500;
    }
    .header-menu li a:hover{
        color: red;
    }
    /* Dropdown Menu */
    .submenu {
        position: absolute;
        width: 220px;
        left: 0;
        top: 160%;
        background: #fff;
        list-style: none;
        padding: 10px 0;
        padding-bottom: 0;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    }
    .submenu li{
        border-bottom: 1px solid #ddd;
    }
    .submenu li a {
        line-height: 25px;
        font-size: 17px;
        transition: .2s ease-in-out;
    }
    .submenu li a:hover{
        color: red;
        letter-spacing: 1px;
    }
    .header-menu li:hover .submenu{
        opacity: 1;
        visibility: visible;
        top: 100%;
    }

    .header-info{}

    .header-search{
        width: 50px;
        font-size: 21px;
        padding: 10px 0;
    }
    .header-search span {
        border-right: 1px solid #ddd;
        padding-right: 14px;
    }

    .header-contact{
        width: 200px;
    }
    .call-icon {
        font-size: 35px;
        color: #e73c3e;
    }
    .call-info{
        width: 150px;
    }
    .call-info span{
        display: block;
        color: #606063;
    }
    .call-info a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
    }


/* Slider SEction Start */
    .slider-section{
        background: url(./img/main-banner2.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
    }
    .slider-content{
        height: 90vh;
        display: flex;
        align-items: center;
        position: relative;
    }
    .slider-text{}
    .slider-text h6 {
        font-size: 20px;
        font-weight: 300;
        color: red;
        margin-bottom: 15px;
    }
    .slider-text h1 {
        font-size: 65px;
        color: #111;
        margin-bottom: 25px;
    }
    .slider-text p {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .social-icon {
        position: absolute;
        left: 12px;
        bottom: 0px;
    }
    .social-icon ul {
        list-style: none;
        padding-left: 0;
    }
    .social-icon ul span {
        font-size: 20px;
        color: #111;
        margin-right: 50px;
        position: relative;
    }
    .social-icon ul span::after {
        content: " ";
        height: 1px;
        width: 65px;
        left: 100px;
        top: 14px;
        position: absolute;
        background: #111;
    }
    .social-icon ul li {
        padding-right: 45px;
    }
    .social-icon ul li a {
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        color: #111;
        transition: .4s;
    }
    .social-icon ul li a:hover{
        color: #e73c3e;
    }


/* Slider Bottom Logo Section Start */
    .logo-section{
        border-bottom: 1px solid #ddd;
    }
    .logo-section-img{
        padding: 20px 0;
    }


/* About Section Start */
    .about-section {
        padding: 100px 0;
    }
    .about-img{
        position: relative;
    }
    .about-img img{}

    .img-txt{
        position: absolute;
        right: 115px;
        bottom: 0;
        background: url(./img/shape.png) no-repeat center;
        background-size: contain;
        text-align: center;
        width: 200px;
        height: 200px;
    }
    .img-txt-inner h2 {
        font-size: 75px;
        color: #e73c3e;
    }
    .img-txt-inner p {
        font-size: 16px;
        font-weight: 500;
        color: #000;
    }

    .about-text p {
        font-size: 20px;
    }
    .about-text ul{
        list-style: none;
        padding-left: 0;
    }
    .about-text ul li{
        list-style: none;
        font-size: 20px;
        color: rgb(135, 135, 135);
    }
    .about-text ul li::before{
        content: "\f00c";
        font-family: 'Font Awesome 5 free';
        font-weight: 600;
        margin-right: 10px;
        color: #e73c3e;
    }
    

/* Card Animation Section Start */
    .animation-section {
        background: #f9fafb;
        padding: 100px 0;
    }
    .animation-left{
        position: relative;
    }
    .animation-left h3{
        font-weight: 500;
    }
    .play-animation img{}
    .play-animation-btn {
        width: 100px;
        height: 100px;
        display: inline-block;
        background: #fff;
        font-size: 70px;
        border-radius: 50%;
        text-align: center;
        color: #e73c3e;
        position: absolute;
        right: 41%;
        bottom: 7%;
    }
    .play-animation-btn::before{
        content: " ";
        width: 100px;
        height: 100px;
        background:  #e73c3e;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 50%;
        animation: playbutton 1.4s ease-out infinite;
    }
    @keyframes playbutton{
        0%{
            transform: scale(0);
            opacity: 0;
        }
        50%{
            transform: scale(1.5);
            opacity: .5;
        }
        100%{
            transform: scale(2);
            opacity: 0;
        }

    }

    .card-item {
        background: #fff;
        position: relative;
        overflow: hidden;
        margin-bottom: 10px;
        transition: .4s;
    }
    .card-item:hover{
        transform: translateY(-10px);
    }
    .card-item::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -53%;
        margin: auto;
        background: #fdebeb;
        width: 90%;
        height: 80%;
        border-radius: 50%;
    }
    .card-icon {
        font-size: 50px;
        position: relative;
    }
    .card-icon i {
        background: #fff;
        width: 80px;
        height: 80px;
        line-height: 80px;
        border-radius: 50%;
        color: #e73c3e;
        transition: .5s linear;
    }
    .card-item:hover .card-icon i{
        background: #e73c3e;
        color: #fff;
    }
    .card-item h3 {
        font-size: 26px;
    }
    .card-item p {
        font-size: 16px;
        padding: 0 35px;
    }
    

/* Apply Loan SEction Start */
    .apply-loan-section{}

    .apply-loan-head h3 {
        font-weight: 500;
    }
    .apply-loan-head p {
        padding: 0 26%;
        margin-top: 15px;
    }

    .apply-loan-left {
        margin-top: 70px;
    }
    .apply-loan-left h2 {
        font-size: 37px;
        font-weight: 400;
        color: #111;
    }

    .apply-counter{}
    .apply-counter ul {
        list-style: none;
        margin-top: 10px;
        position: relative;
    }
    .apply-counter ul::before{
        content: " ";
        position: absolute;
        left: 22px;
        top: 0;
        width: 1px;
        height: calc(100% - 100px);
        background: #e73c3e;
    }
    .apply-counter ul li {
        padding-left: 40px;
        position: relative;
    }
    .apply-counter ul li::before {
        content: attr(data-counting);
        position: absolute;
        left: -36px;
        top: -3px;
        background: #f9fafb;
        height: 50px;
        width: 50px;
        border: 1px solid #e73c3e;
        text-align: center;
        padding-top: 5px;
        border-radius: 50%;
        font-size: 25px;
        color: #e73c3e;
    }
    .apply-counter ul li h4 {
        color: #111;
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    .apply-counter ul li p {
        font-size: 17px;
        line-height: 30px;
    }

    .apply-loan-right{
        background: #fdebeb;
    }
    .loan-heading h3 {
        font-weight: 500;
        font-size: 38px;
        color: #000;
    }
    .loan-heading h6 {
        color: #606060;
        font-weight: 400;
    }
    .loan-form .form-group{}
    .loan-form .form-group label {
        color: #606060;
        padding-bottom: 8px;
    }
    .loan-form .form-group input {
        margin-bottom: 20px;
        padding: 13px 15px;
        border: none;
    }
    .form-group select {
        margin-bottom: 20px;
        font-size: 16px;
        padding: 10px 8px;
        height: 59px;
        border: none;
    }


/* Company Value Section Start */
    .company-value-head {
        background: #e73c3e;
        padding: 50px 35px;
    }
    .company-value-left h3 {
        color: #fff;
        font-size: 34px;
    }
    .company-value-right {
        padding-top: 23px;
        position: relative;
    }
    .company-value-right::after {
        content: "";
        position: absolute;
        left: 70px;
        top: 5px;
        right: 0;
        width: 1px;
        height: 100px;
        background: #fff;
    }
    .company-value-right i {
        color: #e73c3e;
        font-size: 40px;
        display: inline-block;
        padding-right: 45px;
        position: relative;
        z-index: 1;
    }
    .company-value-right i::after {
        content: "";
        position: absolute;
        left: -23px;
        top: -17px;
        width: 75px;
        height: 75px;
        line-height: 75px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
    }
    .company-value-right a {
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
    }

                    /* Company value Section BOttom */
    .company-value-bottom {
        padding-top: 100px;
    }
    .left h3 {
        font-size: 35px;
        color: #111;
        padding-bottom: 40px;
    }
    .left-item{}
    .left-icon i {
        font-size: 45px;
        color: #e73c3e;
        padding-top: 8px;
        width: 85px;
    }
    .left-text h4 {
        font-size: 26px;
        color: #111;
        padding-bottom: 10px;
    }
    .left-text p {
        line-height: 26px;
        padding-bottom: 15px;
    }


/* Services Section Start */
    .services-section{}

    .services-heading h3 {
        font-weight: 500;
    }
    .services-heading p {
        width: 50%;
        margin: auto;
        line-height: 26px;
    }
                        /* services-tab-area */
    .services-tab-area{}

    .services-tab{
        border-bottom: 1px solid #ddd;
    }
    .services-tab ul{}
    .services-tab ul li{}
    .services-tab ul li a{
        color: #111;
    }
    .services-tab ul li span i {
        font-size: 40px;
        padding: 25px 0;
        color: #646466;
        position: relative;
        z-index: 1;
    }
    .services-tab ul li a.active span i{
        color: #e73c3e;
    }
    .services-tab ul li span i::after {
        content: "";
        position: absolute;
        left: -20px;
        top: 5px;
        width: 85px;
        height: 85px;
        line-height: 85px;
        background: #fff;
        border-radius: 50%;
        z-index: -1;
        box-shadow: 3px 3px 22px -1px rgba(0, 0, 0, .2);
    }
    .services-tab ul li strong {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 15px 0;
    }
    .tab-content {
        padding: 35px 0;
    }
    .tab-content-text ul li {
        color: #606060;
        line-height: 28px;
        position: relative;
    }
    .tab-content-text ul li::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 8px;
        width: 10px;
        height: 10px;
        background: #e73c3e;
        border-radius: 50%;
    }
    .tab-content-text h4 {
        font-size: 25px;
        color: #111;
        padding: 10px 0;
    }
    .tab-content-text p {
        color: #606060;
        padding-right: 33px;
        line-height: 28px;
    }


/* Testomonial Section Start */
    .testomonial-section{}

    .testomonial-heading{}
    .testomonial-heading h3 {
        font-weight: 500;
    }
    
    .testomonial-content-txt h4 {
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        padding-bottom: 15px;
    }
    .testomonial-content-txt h5{
        font-weight: 400;
        color: #e73c3e;
    }


/* Team Section Start */
    .team-section{}
    
    .team-heading h3 {
        font-weight: 500;
        color: #111;
    }
    .team-heading p {
        width: 50%;
        margin: auto;
    }

    .team-member-area{}
    .team-member{
        width: 100%;
        height: auto;
        position: relative;
    }
    .team-member:hover .team-member-social ul li{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .team-member .team-member-social ul li:nth-child(1){
        transition-delay: .2s;
    }
    .team-member .team-member-social ul li:nth-child(2){
        transition-delay: .3s;
    }
    .team-member .team-member-social ul li:nth-child(3){
        transition-delay: .4s;
    }
    .team-member .team-member-social ul li:nth-child(4){
        transition-delay: .5s;
    }

    .team-member-social {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .team-member-social ul {
        text-align: center;
        padding-left: 0;
        margin-bottom: 45px;
    }
    .team-member-social ul li {
        display: inline-block;
        padding-right: 5px;
        transform: translateY(45px);
        opacity: 0;
        visibility: hidden;
        transition: .5s ease-in-out;
    }
    .team-member-social ul li i {
        font-size: 25px;
        height: 45px;
        width: 45px;
        background: #fff;
        line-height: 45px;
        border-radius: 50%;
        color: #111;
        transition: .4s;
    }
    .team-member-social ul li i:hover{
        background: #e73c3e;
        color: #fff;
    }
    
    .team-member-content h5{
        color: #e73c3e;
    }
    .team-member-content p{
        color: #606060;
    }


/* Blog Section Start */
    .blog-section{
        padding: 100px 0;
    }

    .blog-heading h3 {
        font-weight: 500;
    }
    
    .blog-item{}
    .blog-item a {
        text-decoration: none;
        color: #111;
        font-weight: 500;
        transition: .4s;
    }
    .blog-item a:hover{
        color: #e73c3e;
    }
    .blog-item:hover .blog-txt h6 a{
        letter-spacing: 1px;
        color: #e73c3e;
    }
    .blog-txt h6{
        color: #e73c3e;
    }


/* Footer Section Start */
    .footer-section{
        background: #111;
        padding-top: 100px;
    }
    .footer-widget{
        color: #fff;
    }

    .footer-widget img{}
    .footer-widget p{}
    .footer-widget ul{}
    .footer-widget ul li {
        display: inline-block;
        padding-right: 15px;
    }
    .footer-widget ul li a{}
    .footer-widget ul li a i {
        font-size: 20px;
        color: #fff;
        transition: .4s;
    }
    .footer-widget ul li a i:hover{
        color: #e73c3e;
    }

    .footer-widget2 h5 {
        border-bottom: .3px solid #444;
        padding-bottom: 20px;
    }
    .footer-widget2{
        color: #fff;
    }
    .footer-widget2 ul{}
    .footer-widget2 ul li{}
    .footer-widget2 ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 45px;
        transition: .4s;
    }
    .footer-widget2 ul li a:hover{
        color: #e73c3e;
        letter-spacing: 1px;
    }

    
    .contact-item {
        margin: 20px 0;
    }
    .widget-icon{}
    .widget-icon i {
        width: 20px;
        font-size: 25px;
        text-align: right;
        height: auto;
        margin-right: 20px;
        margin-top: 10px;
    }
    .widget-txt{}
    .widget-txt a {
        display: block;
        text-decoration: none;
        color: #fff;
        transition: .4s;
    }
    .widget-txt a:hover{
        color: #e73c3e;
    }




                    /* Copyright Section */
    .footer-copyright{
        background: #111;
        padding: 30px 0;
        border-top: .5px solid #292929;
    }
    .copyright-txt{
        color: #606060;
        text-align: center;
    }
    .copyright-txt p{}
    .copyright-txt a{
        text-decoration: none;
        color: #fff;
        transition: .4s;
    }
    .copyright-txt a:hover{
        color: #e73c3e;
    }


/* Footer and Wesite Both of are END */
.breadcrumb-header {
    padding: 130px 0;
    background: url(./img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 18%;
    position: relative;
    z-index: 1;
}

.breadcrumb-header::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .6 );
    z-index: -1;
}

    